@charset "UTF-8";
/* media du header => 
- passe en menu burger à max 1400px
Pour le responsive : 
max 950px, 600px, 350px */
header {
  height: 100vh;
  background-image: url(img/slider/img_bg_slider_home01.jpg);
  background: cover;
  background-repeat: no-repeat;
}
header .container_header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
}
header .topnav,
header .topnav_menu,
header .nav_links,
header .nav_links2 {
  display: flex;
  align-items: center;
}
header .topnav {
  width: 100%;
  justify-content: end;
  padding: 40px 80px;
}
header .topnav .Kababi_logo {
  position: absolute;
  left: 60px;
  top: 40px;
}
header .topnav .topnav_menu {
  display: none;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
header .topnav .topnav_menu .nav_links,
header .topnav .topnav_menu .nav_links2 {
  gap: 60px;
}
header .topnav .topnav_menu .nav_links .home,
header .topnav .topnav_menu .nav_links2 .home {
  color: #c8a96a;
}
header .topnav .topnav_menu .nav_links li a,
header .topnav .topnav_menu .nav_links2 li a {
  color: white;
}
header .topnav .topnav_menu .nav_links li a i,
header .topnav .topnav_menu .nav_links2 li a i {
  margin: 0 10px;
}
header .topnav .topnav_menu .nav_links li img,
header .topnav .topnav_menu .nav_links2 li img {
  margin-right: 10px;
}
header .topnav .topnav_menu .nav_links li .btn_nav,
header .topnav .topnav_menu .nav_links2 li .btn_nav {
  background-color: #c8a96a;
  padding: 20px 30px;
  border-radius: 5px;
  font-family: "brands";
  font-weight: 400;
}
header .topnav .icon_hamburger {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  display: none;
}
header .contenu_header {
  width: 100%;
}
header .contenu_header .imgAndtitle {
  position: relative;
  width: 30%;
}
header .contenu_header .imgAndtitle img {
  position: absolute;
  top: -50px;
  right: 0;
}
header .contenu_header .imgAndtitle h1 {
  color: white;
  font-size: 7rem;
  width: 300px;
  line-height: 150px;
  letter-spacing: -7px;
  font-family: fabrands;
  font-weight: 400;
  margin-bottom: 50px;
}
header .contenu_header a {
  color: white;
  padding: 15px 30px;
  border: solid 2px rgba(255, 255, 255, 0.185);
  border-radius: 5px;
}

@media only screen and (max-width: 1400px) {
  header .topnav .icon_hamburger {
    display: block;
  }
  header .topnav .topnav_menu,
  header .topnav .nav_links,
  header .topnav .nav_links2 {
    flex-direction: column;
  }
  header .topnav .nav_links {
    margin-bottom: 50px;
  }
  header .topnav .topnav_menu {
    height: 100vh;
    padding: 10%;
    backdrop-filter: blur(15px);
    z-index: 99;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 0%;
    transform: translate(200%, 0%);
    transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header .topnav .topnav_menu.active {
    transform: none;
    position: fixed;
    transition: transform 0.5 ease;
    width: 100%;
  }
  header .contenu_header .imgAndtitle {
    width: 40%;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 950px) {
  header .contenu_header .imgAndtitle {
    width: 60%;
  }
  header .contenu_header .imgAndtitle h1 {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  header .contenu_header .imgAndtitle {
    width: 90%;
  }
  header .contenu_header .imgAndtitle img {
    width: 120px;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 4rem;
    margin-top: 100px;
    line-height: 100px;
  }
}
@media only screen and (max-width: 350px) {
  header .contenu_header .imgAndtitle img {
    width: 100px;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 3.5rem;
    margin-top: 100px;
    line-height: 100px;
  }
}
footer {
  color: rgb(138, 138, 138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/footer/img-ng-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 10rem;
  flex-direction: column;
  padding-bottom: 3rem;
}

.footer-title {
  margin-top: 5rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 7rem;
}

.footer-link {
  width: 13.66%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-link h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.footer-link ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-link ul li {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.footer-link ul li i {
  color: #c8a96a;
}
.footer-link ul li:hover {
  color: white;
}

.footer-link-input {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-link-input h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.footer-link-input .email-input {
  display: flex;
  width: 100%;
}
.footer-link-input .email-input input {
  padding: 1rem;
  height: 3rem;
  width: 70%;
}
.footer-link-input .email-input button {
  height: 100%;
  width: 3rem;
  background-color: #c8a96a;
  border: none;
}
.footer-link-input .email-input button:hover {
  cursor: pointer;
  background-color: #c8a96a;
}

.footer-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.253);
}
.footer-bottom img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80%;
  margin: auto;
  height: 6rem;
  width: 6rem;
}
.footer-bottom p a {
  text-decoration: none;
  color: #c8a96a;
}
.footer-bottom .footer-socials {
  display: flex;
  gap: 2rem;
}
.footer-bottom .footer-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(138, 138, 138);
  font-size: 1rem;
  color: #b3b3b3;
}
.footer-bottom .footer-socials a:hover {
  color: white;
  background-color: #c8a96a;
}

@media (max-width: 1250px) {
  .footer-title {
    margin-top: 3rem;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .footer-bottom p {
    margin-top: 2rem;
  }
  .footer-socials {
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 1100px) {
  .footer-links {
    display: grid;
    grid-template-columns: 60% 40%;
    row-gap: 5rem;
    column-gap: 1rem;
  }
  .footer-link {
    width: 100%;
    display: grid;
    flex-direction: column;
  }
  .footer-link-input {
    width: 100%;
  }
}
@media (max-width: 750px) {
  footer {
    gap: 5rem;
  }
  .footer-links {
    display: grid;
    row-gap: 5rem;
    margin-bottom: 2rem;
  }
}
.latest-news {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.latest-news .p-top {
  position: absolute;
  color: #f1ece4;
  top: 1%;
  left: 3%;
  font-size: 13.5rem;
  letter-spacing: 1rem;
  z-index: -1;
}

.latest-news-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 7rem 0 3rem 0;
}
.latest-news-title h2 {
  font-size: 3rem;
}
.latest-news-title p {
  font-size: 1.5rem;
}

.news-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.news {
  width: 30%;
  background-color: #f1ece4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.news img {
  display: block;
  width: 100%;
  height: 100%;
}
.news button {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
  width: 50%;
  padding: 1rem;
  border: none;
  border-radius: 0.35rem;
}
.news button:hover {
  cursor: pointer;
  background-color: #c8a96a;
  color: #ffffff;
}

.news-text {
  padding: 1rem 1rem 2rem 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.date-user {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.date-user i {
  color: #c8a96a;
}
.date-user p {
  font-size: 0.9rem;
}

.news-photos {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 7rem;
}

@media (max-width: 1450px) {
  .news {
    width: 35%;
  }
}
@media (max-width: 1300px) {
  .news-container {
    flex-direction: column;
  }
  .news {
    width: 100%;
    flex-direction: row;
  }
  .news-text {
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .news-text button {
    width: 60%;
  }
  .date-user {
    gap: 1rem;
  }
  .news-photos {
    margin-top: 2rem;
  }
  .news-photos img {
    height: 4rem;
    width: 4rem;
  }
}
@media (max-width: 1000px) {
  .news img {
    width: 40%;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .news {
    flex-direction: column;
    width: 50%;
  }
  .news .news-text {
    padding: 0 0 1rem 0;
  }
  .news img {
    width: 100%;
  }
  .news button {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .date-user {
    flex-direction: column;
  }
  .date-user p {
    font-size: 0.8rem;
  }
  .news-photos {
    gap: 1rem;
  }
  .news-photos img {
    height: 3.5rem;
    width: 3.5rem;
  }
}
.meet-chefs {
  position: relative;
  padding: 7rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  z-index: -1;
  padding-bottom: 12rem;
}
.meet-chefs p {
  color: #ffffff;
}
.meet-chefs .p-top {
  position: absolute;
  color: rgba(255, 255, 255, 0.068);
  top: 3%;
  left: 3%;
  font-size: 12.5rem;
  letter-spacing: 1rem;
  z-index: -1;
}

.chefs-title {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.chefs-title h2 {
  font-size: 3rem;
}
.chefs-title p {
  font-size: 1.5rem;
}

.chefs-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.chef-img {
  font-size: 10px;
  width: 20%;
}
.chef-img img {
  width: 100%;
}
.chef-img:nth-child(2) {
  box-shadow: 5em 10em 10em rgba(255, 255, 255, 0.13), 5em -6em 10em rgba(255, 255, 255, 0.13);
}
.chef-img:nth-child(3) {
  box-shadow: -5em 10em 10em rgba(255, 255, 255, 0.13), -5em -6em 10em rgba(255, 255, 255, 0.178);
}

.restaurant-photos-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 6rem 0rem;
}
.restaurant-photos-container button {
  padding: 1rem 2rem;
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid rgba(199, 199, 199, 0.452);
  border-radius: 0.3rem;
}
.restaurant-photos-container button:hover {
  cursor: pointer;
  color: white;
  background-color: #c8a96a;
}
.restaurant-photos-container .p-low {
  position: absolute;
  color: #f1ece4;
  top: 3%;
  left: 1%;
  font-size: 12.5rem;
  z-index: -1;
}

.restaurant-photos-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.restaurant-photos-title h2 {
  font-size: 3rem;
}
.restaurant-photos-title p {
  font-size: 1.5rem;
}

.resto-photos {
  width: 80%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}
.resto-photos img {
  width: 100%;
  max-height: 350px;
}

.photos-together {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.photos-together img {
  width: 50%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
}

@media (max-width: 1800px) {
  .meet-chefs .p-top,
  .latest-news .p-top {
    font-size: 10.5rem;
  }
  .restaurant-photos-container .p-low {
    font-size: 10.5rem;
  }
}
@media (max-width: 1600px) {
  .meet-chefs .p-top,
  .latest-news .p-top {
    font-size: 9rem;
  }
  .restaurant-photos-container .p-low {
    font-size: 9rem;
  }
}
@media only screen and (max-width: 1400px) {
  header .topnav .icon_hamburger {
    display: block;
  }
  header .topnav .topnav_menu,
  header .topnav .nav_links,
  header .topnav .nav_links2 {
    flex-direction: column;
  }
  header .topnav .nav_links {
    margin-bottom: 50px;
  }
  header .topnav .topnav_menu {
    height: 100vh;
    padding: 10%;
    backdrop-filter: blur(15px);
    z-index: 99;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 0%;
    transform: translate(200%, 0%);
    transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header .topnav .topnav_menu.active {
    transform: none;
    position: fixed;
    transition: transform 0.5 ease;
    width: 100%;
  }
  header .contenu_header .imgAndtitle {
    width: 40%;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 5rem;
  }
  .meet-chefs .p-top,
  .latest-news .p-top {
    font-size: 8rem;
  }
  .restaurant-photos-container .p-low {
    font-size: 8rem;
  }
}
@media (max-width: 1250px) {
  img {
    bottom: 80%;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .meet-chefs .p-top,
  .latest-news .p-top {
    font-size: 6.5rem;
  }
  .restaurant-photos-container .p-low {
    font-size: 6.5rem;
  }
}
@media (max-width: 1000px) {
  .meet-chefs .p-top,
  .latest-news .p-top {
    font-size: 5rem;
  }
  .restaurant-photos-container .p-low {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 950px) {
  header .contenu_header .imgAndtitle {
    width: 60%;
  }
  header .contenu_header .imgAndtitle h1 {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  header .contenu_header .imgAndtitle {
    width: 90%;
  }
  header .contenu_header .imgAndtitle img {
    width: 120px;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 4rem;
    margin-top: 100px;
    line-height: 100px;
  }
  .chefs-title h2,
  .latest-news-title h2,
  .restaurant-photos-title h2 {
    font-size: 2rem;
  }
  .chefs-title p,
  .latest-news-title p,
  .restaurant-photos-title p {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .meet-chefs .p-top,
  .latest-news .p-top {
    font-size: 3.5rem;
  }
  .restaurant-photos-container .p-low {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 350px) {
  header .contenu_header .imgAndtitle img {
    width: 100px;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 3.5rem;
    margin-top: 100px;
    line-height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
