/* 'fabrands' 400
    'falight' 300
    'faregular' 400
    'fasolid' 900 */
@import "font.scss";
@import "variable.scss";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
}

header{
    height: 100vh;
    background-image: url(img/slider/img_bg_slider_home01.jpg);
    background: cover;
    background-repeat: no-repeat;
    .container{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.500) ,rgba(0, 0, 0, 0)),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0));

        height: 100%;
        width: 100%;
    }
    .topnav,
    .topnav_menu,
    .nav_links,
    .nav_links2{
        display: flex;
        align-items: center;
    }
    .topnav{
        width: 100%;
        justify-content: space-between;
        padding: 40px 80px;
        .topnav_menu{
            width: 70%;
            justify-content: space-between;
            align-items: center;
            .nav_links,
            .nav_links2{
                gap: 60px;
                .btn_nav{
                    background-color: $or;
                    padding: 20px 28px;
                    border-radius: 5px;
                }
                li a{
                    color: white;
                }
            }
        }
        .icon_hamburger{
            display: none;
        }
    }
    .contenu_header{
        width: 100%;
        margin: 5% 0 0 10%;
        .img_header{
            position: relative;
            img{
                position: absolute;
                left: 20%;
                top: -40px;
            }
        }
        h1{
            color: white;
            font-size: 7rem;
            width: 300px;
            line-height: 150px;
            letter-spacing: -7px;
            font-family: fabrands;
            font-weight: 400;
            margin-bottom: 50px;
        }
        a{
            color: white;
            padding: 15px 30px;
            border: solid 2px rgba(255, 255, 255, 0.185);
            border-radius: 5px;
        }
    }
}