header {
  height: 100vh;
  background: url(img/slider/img_bg_slider_home01.jpg) no-repeat;
}
header .container_header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
}
header .nav_links,
header .nav_links2 {
  display: flex;
  align-items: center;
}
header .topnav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 40px 80px;
}
header .topnav .Kababi_logo {
  position: absolute;
  left: 60px;
  top: 40px;
}
header .topnav .topnav_menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
header .topnav .topnav_menu .nav_links,
header .topnav .topnav_menu .nav_links2 {
  gap: 60px;
}
header .topnav .topnav_menu .nav_links .home,
header .topnav .topnav_menu .nav_links2 .home {
  color: #C8A96A;
}
header .topnav .topnav_menu .nav_links li a,
header .topnav .topnav_menu .nav_links2 li a {
  color: #FFFFFF;
  font-family: "Kanit", sans-serif;
}
header .topnav .topnav_menu .nav_links li a:hover,
header .topnav .topnav_menu .nav_links2 li a:hover {
  color: #C8A96A;
}
header .topnav .topnav_menu .nav_links li a i,
header .topnav .topnav_menu .nav_links2 li a i {
  margin: 0 10px;
}
header .topnav .topnav_menu .nav_links li img,
header .topnav .topnav_menu .nav_links2 li img {
  margin-right: 10px;
}
header .topnav .topnav_menu .nav_links li .btn_nav,
header .topnav .topnav_menu .nav_links2 li .btn_nav {
  background-color: #C8A96A;
  padding: 20px 30px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
}
header .topnav .topnav_menu .nav_links li .btn_nav:hover,
header .topnav .topnav_menu .nav_links2 li .btn_nav:hover {
  background-color: #FFFFFF;
  color: #C8A96A;
}
header .topnav .topnav_menu .nav_links li .btn_nav i,
header .topnav .topnav_menu .nav_links2 li .btn_nav i {
  margin: 0 0 0 10px;
}
header .topnav .icon_hamburger {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  display: none;
}
header .contenu_header {
  width: 100%;
  margin: 5% 10%;
}
header .contenu_header .imgAndtitle {
  position: relative;
  width: 500px;
}
header .contenu_header .imgAndtitle img {
  position: absolute;
  top: -50px;
  right: 0;
}
header .contenu_header .imgAndtitle h1 {
  color: white;
  font-size: 160px;
  line-height: 145px;
  font-weight: 300;
  width: 300px;
  letter-spacing: -9px;
  margin-bottom: 50px;
}
header .contenu_header a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  width: 210px;
  height: 45px;
  color: white;
  border: solid 2px rgba(255, 255, 255, 0.185);
  border-radius: 5px;
}
header .contenu_header a:hover {
  background-color: white;
  color: black;
  scale: 1.1;
}
header .contenu_header a i {
  font-weight: 600;
  padding-left: 10px;
}

@media only screen and (max-width: 1500px) {
  header .topnav .icon_hamburger {
    display: block;
  }
  header .topnav .topnav_menu,
  header .topnav .nav_links,
  header .topnav .nav_links2 {
    flex-direction: column;
  }
  header .topnav .nav_links {
    margin-bottom: 50px;
  }
  header .topnav .nav_links li {
    width: 100%;
  }
  header .topnav .topnav_menu {
    height: 100vh;
    padding: 10%;
    backdrop-filter: blur(15px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 0%;
    transform: translate(200%, 0%);
    transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header .topnav .topnav_menu.active {
    transform: none;
    position: fixed;
    transition: transform 0.5 ease;
    width: 100%;
  }
  header .contenu_header .imgAndtitle {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 750px) {
  header .contenu_header {
    margin-top: 25%;
  }
  header .contenu_header .imgAndtitle {
    width: 400px;
  }
  header .contenu_header .imgAndtitle img {
    width: 140px;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 120px;
    line-height: 130px;
  }
}
@media only screen and (max-width: 450px) {
  header .contenu_header .imgAndtitle {
    width: 300px;
    margin-top: 40%;
  }
  header .contenu_header .imgAndtitle img {
    width: 110px;
    top: -30px;
  }
  header .contenu_header .imgAndtitle h1 {
    font-size: 90px;
    line-height: 100px;
  }
}
.bg_color {
  background-color: #FAF6F0;
}
.bg_color .choose_your_best_category {
  width: 100%;
  background-image: url(img/banner/imgbgcategory.png);
  background-size: contain;
  background-position: top left;
  text-align: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg_color .choose_your_best_category .category_absolute {
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 320px;
  letter-spacing: -35px;
  color: #F5EEE3;
}
.bg_color .choose_your_best_category .title_choose_your_category {
  z-index: 1;
  top: 150px;
}
.bg_color .choose_your_best_category .title_choose_your_category h2 {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: -4px;
}
.bg_color .choose_your_best_category .title_choose_your_category p {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.bg_color .choose_your_best_category .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 150px 0;
  gap: 30px;
}
.bg_color .choose_your_best_category .cards .card {
  width: 170px;
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  font-size: 22px;
}
.bg_color .choose_your_best_category .cards .card:hover {
  background-color: #C8A96A;
}
.bg_color .choose_your_best_category .cards .card:hover p, .bg_color .choose_your_best_category .cards .card:hover i {
  color: #FFFFFF;
}
.bg_color .choose_your_best_category .cards .card:hover .icon_choose_category {
  color: #FFFFFF;
}
.bg_color .choose_your_best_category .cards .card i {
  padding-top: 9px;
}
.bg_color .choose_your_best_category .cards .card .icon_choose_category {
  font-size: 50px;
  padding: 32px 30px 20px 30px;
  color: #C8A96A;
}

@media only screen and (max-width: 1200px) {
  .choose_your_best_category {
    background-size: cover;
    padding-bottom: 30px;
    background-size: 90%;
  }
}
@media only screen and (max-width: 950px) {
  .choose_your_best_category {
    padding-bottom: 50px;
  }
  .choose_your_best_category .title_choose_your_category h2 {
    padding-top: 110px;
  }
  .choose_your_best_category .cards {
    padding: 110px 0;
  }
}
@media only screen and (max-width: 650px) {
  .choose_your_best_category {
    padding-bottom: 120px;
  }
  .choose_your_best_category .category_absolute {
    font-size: 5rem;
  }
  .choose_your_best_category .title_choose_your_category h2 {
    padding-top: 110px;
    letter-spacing: -2px;
  }
}
main .why_choose_us {
  width: 100%;
  min-height: 200vh;
  position: relative;
}
main .why_choose_us .circle_food {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
  border-radius: 50%;
  border: solid 30px #FFFFFF;
  z-index: 0;
}
main .why_choose_us .images_top_choose_us {
  width: 100%;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 7% 5% 10%;
}
main .why_choose_us .images_top_choose_us img {
  z-index: 1;
}
main .about_us {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13% 0 0% 0%;
}
main .about_us .title_about_us {
  width: 100%;
  text-align: center;
  position: relative;
}
main .about_us .title_about_us h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: -2px;
}
main .about_us .title_about_us p {
  padding-top: 20px;
}
main .about_us .title_about_us .icon_about_absolute {
  position: absolute;
  top: 0;
  right: 10%;
}
main .about_us .about_us_absolute {
  position: absolute;
  left: 10px;
  top: 150px;
  font-size: 13rem;
  letter-spacing: -7px;
  color: #F5EEE3;
  z-index: -1;
  text-transform: uppercase;
}
main .about_us .contenu_about_us {
  margin: 7% 22%;
  display: flex;
}
main .about_us .contenu_about_us .text_about_us {
  padding: 7%;
  line-height: 50px;
}
main .about_us .contenu_about_us .text_about_us p {
  font-size: 1.5rem;
  margin-bottom: 60px;
}
main .about_us .contenu_about_us .text_about_us .btn_about_us {
  background-color: #C8A96A;
  padding: 20px 30px;
  border-radius: 5px;
  font-family: "brands";
  font-weight: 400;
  color: #FFFFFF;
}
main .about_us .contenu_about_us .text_about_us .btn_about_us i {
  padding-left: 10px;
}

@media only screen and (max-width: 1600px) {
  .why_choose_us .circle_food {
    width: 40%;
  }
  .why_choose_us .images_top_choose_us {
    padding: 10% 2% 2% 10%;
  }
  .why_choose_us .about_us .title_about_us h2 {
    margin-top: 30px;
  }
  .why_choose_us .about_us .title_about_us .icon_about_absolute {
    top: 0;
    right: 10%;
  }
  .why_choose_us .about_us .contenu_about_us {
    margin: 7% 15%;
  }
}
@media only screen and (max-width: 1300px) {
  .about_us .title_about_us h2 {
    font-size: 3rem;
    margin-top: 100px;
  }
  .about_us .title_about_us .icon_about_absolute {
    top: 0;
    right: 10%;
  }
  .about_us .contenu_about_us {
    margin: 7% 10%;
  }
  .about_us .about_us_absolute {
    top: 70px;
    font-size: 6rem;
  }
}
@media only screen and (max-width: 1200px) {
  .why_choose_us .images_top_choose_us {
    padding: 10% 2% 2% 10%;
  }
  .why_choose_us .images_top_choose_us img {
    width: 200px;
  }
  .why_choose_us .about_us .contenu_about_us {
    margin: 7% 5%;
  }
}
@media only screen and (max-width: 950px) {
  .why_choose_us .circle_food {
    width: 50%;
    border: solid 10px;
  }
  .why_choose_us .about_us .about_us_absolute {
    font-size: 7rem;
  }
  .why_choose_us .about_us .title_about_us h2 {
    font-size: 2rem;
    margin-top: 100px;
  }
  .why_choose_us .about_us .title_about_us .icon_about_absolute {
    top: 0;
    right: 10%;
    width: 100px;
  }
  .why_choose_us .about_us .contenu_about_us {
    margin: 15% 5%;
    flex-direction: column;
    text-align: center;
  }
  .why_choose_us .about_us .contenu_about_us .text_about_us p {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 650px) {
  .why_choose_us .circle_food {
    width: 80%;
    border: solid 10px;
  }
  .why_choose_us .images_top_choose_us {
    flex-direction: column;
  }
  .why_choose_us .images_top_choose_us img:first-child {
    margin-top: 180px;
    margin-bottom: 30px;
  }
  .why_choose_us .about_us .about_us_absolute {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 450px) {
  .why_choose_us .about_us .about_us_absolute {
    font-size: 3.5rem;
  }
  .why_choose_us .about_us .title_about_us h2 {
    font-size: 1.5rem;
    margin-top: 130px;
  }
}
@media only screen and (max-width: 350px) {
  .why_choose_us .circle_food {
    width: 100%;
    border: solid 10px;
  }
  .why_choose_us .images_top_choose_us img {
    margin-top: 70px;
  }
  .why_choose_us .about_us .about_us_absolute {
    font-size: 3rem;
  }
  .why_choose_us .about_us .title_about_us h2 {
    font-size: 1.5rem;
    margin-top: 120px;
  }
  .why_choose_us .about_us .contenu_about_us .text_about_us p {
    font-size: 1rem;
    padding: 0% 10%;
  }
}
@media only screen and (max-width: 300px) {
  .why_choose_us .about_us .about_us_absolute {
    font-size: 2.5rem;
    top: 120px;
  }
  .why_choose_us .about_us .title_about_us h2 {
    font-size: 1rem;
    margin-top: 100px;
  }
  .why_choose_us .about_us .title_about_us p {
    font-size: 0.8rem;
  }
  .why_choose_us .about_us .title_about_us .icon_about_absolute {
    width: 70px;
    top: 0;
    right: 10%;
  }
  .why_choose_us .about_us .contenu_about_us .text_about_us p {
    font-size: 1rem;
    line-height: 30px;
    padding: 0% 20%;
  }
}
.try_your_special_offer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #FAF6F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 5rem 0rem;
}

.our_menu_absolute,
.pain,
.steak {
  position: absolute;
}

.pain {
  height: 100%;
  right: 0;
  z-index: 1;
  width: 25%;
}

.steak {
  height: 50%;
  left: 0;
  width: 15%;
  bottom: -10rem;
}

.our_menu_absolute {
  top: 0;
  left: 0;
  word-spacing: 2rem;
  font-size: 13rem;
  color: #F5EEE3;
}

.title_special_offer {
  z-index: 1;
  text-align: center;
}
.title_special_offer h2 {
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-weight: 100;
}
.title_special_offer p {
  font-size: 2rem;
}

.contenu_try_your_special_offer {
  z-index: 2;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.contenu_try_your_special_offer .cards {
  width: 45%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3.5rem;
  border-radius: 5px;
}
.contenu_try_your_special_offer .cards:hover {
  cursor: pointer;
  outline: dashed 2px #C8A96A;
}
.contenu_try_your_special_offer .cards .prix {
  font-size: 2.5rem;
}

@media only screen and (max-width: 1300px) {
  .pain,
  .steak {
    display: none;
  }
}
@font-face {
  font-family: "Baanoo";
  src: url("./webfonts_Baanoo/Baanoo.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Baanoo";
}

body {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
