@import "variable.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/latest-news.scss";
@import "./layout/chefs.scss";
@import "./layout/restaurants-photos.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100%;
}

@media (max-width: 1800px) {
  .meet-chefs,
  .latest-news {
    .p-top {
      font-size: 10.5rem;
    }
  }
  .restaurant-photos-container {
    .p-low {
      font-size: 10.5rem;
    }
  }
}

@media (max-width: 1600px) {
  .meet-chefs,
  .latest-news {
    .p-top {
      font-size: 9rem;
    }
  }
  .restaurant-photos-container {
    .p-low {
      font-size: 9rem;
    }
  }
}

@media only screen and (max-width: 1400px) {
  header {
    .topnav {
      .icon_hamburger {
        display: block;
      }
      .topnav_menu,
      .nav_links,
      .nav_links2 {
        flex-direction: column;
      }
      .nav_links {
        margin-bottom: 50px;
      }
      .topnav_menu {
        height: 100vh;
        padding: 10%;
        backdrop-filter: blur(15px);
        z-index: 99;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: 0% 0%;
        transform: translate(200%, 0%);
        transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
      }
      .topnav_menu.active {
        transform: none;
        position: fixed;
        transition: transform 0.5 ease;
        width: 100%;
      }
    }
    .contenu_header {
      .imgAndtitle {
        width: 40%;
        h1 {
          font-size: 5rem;
        }
      }
    }
  }
  .meet-chefs,
  .latest-news {
    .p-top {
      font-size: 8rem;
    }
  }
  .restaurant-photos-container {
    .p-low {
      font-size: 8rem;
    }
  }
}

@media (max-width: 1250px) {
  img {
    bottom: 80%;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .meet-chefs,
  .latest-news {
    .p-top {
      font-size: 6.5rem;
    }
  }
  .restaurant-photos-container {
    .p-low {
      font-size: 6.5rem;
    }
  }
}

@media (max-width: 1000px) {
  .meet-chefs,
  .latest-news {
    .p-top {
      font-size: 5rem;
    }
  }
  .restaurant-photos-container {
    .p-low {
      font-size: 5rem;
    }
  }
}
@media only screen and (max-width: 950px) {
  header {
    .contenu_header {
      .imgAndtitle {
        width: 60%;
        h1 {
          margin-top: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    .contenu_header {
      .imgAndtitle {
        width: 90%;
        img {
          width: 120px;
        }
        h1 {
          font-size: 4rem;
          margin-top: 100px;
          line-height: 100px;
        }
      }
    }
  }
  .chefs-title,
  .latest-news-title,
  .restaurant-photos-title {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .meet-chefs,
  .latest-news {
    .p-top {
      font-size: 3.5rem;
    }
  }
  .restaurant-photos-container {
    .p-low {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: 350px) {
  header {
    .contenu_header {
      .imgAndtitle {
        img {
          width: 100px;
        }
        h1 {
          font-size: 3.5rem;
          margin-top: 100px;
          line-height: 100px;
        }
      }
    }
  }
}
